.App {
  text-align: center;
}

.header {
  display: flex; 
  justify-content: flex-end;
  align-items: baseline;
  height: auto; 
  background-color: #f06d20;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Сделайте карточку занимающей всю доступную высоту */
}

.custom-card .ant-card-meta-title {
  margin-top: 10px; /* Отступ сверху для заголовка */
  white-space: normal; /* Перенос текста на новую строку */
}
