.App {
  text-align: center;
}

.header {
  display: flex; 
  justify-content: flex-end;
  align-items: baseline;
  height: auto; 
  background-color: #f06d20;
}

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.custom-card .ant-card-meta-title {
  margin-top: 10px; 
  white-space: normal;
}
